name: Deploy to Firebase Functions
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm --prefix functions ci
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v13.3.1
        with:
          args: deploy --only functions
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GENKIT_VERTEXAI }}
          PROJECT_ID: genkit-vertexai
